{%extends "base.html"%}
{% load static %}

{% block content %}
<h3 style="text-align: center;">Add Tweet By Form</h3>
<main class="form-signin m-auto tweet-form" style="width: 50%; min-width: 120px;">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <div class="form-floating">
                {{ form.name_input }}
                <label for="name_input">Name</label>
            </div>
            <div class="form-floating">
                {{ form.surname_input }}
                <label for="surname_input">Surname</label>
            </div>
            <!-- <div class="form-floating">
                {{ form.nickname_input }}
                <label for="nickname_input">Nickname</label>
            </div> -->
            <div class="form-floating">
                {{ form.message_input }}
                <label for="message_input">Message</label>
            </div>
        </div>
        <button style="margin-top: 1em;" class="btn btn-primary w-100 py-2" type="submit">Share your Tweet</button>
    </form>
</main>

{% endblock %}